body{
    font-size: 62.5%;
    color: #ff0000;
}

#container{
    border: solid red 1px;
    background-color: black;
    width: 80%;
    margin: 5% auto;
    height: 2rem;
}

.div1{
    background-color: #7d6ef3;
    display: inline-block;
    width: 40%;

}

.div2{
    background-color: gold;
    display: inline-block;
    width: 20%;
}

.div3{
    background-color: pink;
    display: inline-block;
    width: 20%;
}
p{
    font-size: 2.5rem;
}

@media screen and (max-width: 600px){
    .div1, .div2, .div3{
        display: block;
        width: 100%;
    }
    p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 350px) {
    .texte{
        display: none;
    }
}